PngImage_1 RCDATA "..\\Images\\CalendarBlack.png"
PngImage_2 RCDATA "..\\Images\\CalendarEmptyBlue.png"
PngImage_3 RCDATA "..\\Images\\check_Blue.png"
PngImage_4 RCDATA "..\\Images\\CheckGray.png"
PngImage_5 RCDATA "..\\Images\\CheckGreen.png"
PngImage_6 RCDATA "..\\Images\\CheckMark.png"
PngImage_7 RCDATA "..\\Images\\CheckRed.png"
PngImage_8 RCDATA "..\\Images\\IconCheck.png"
PngImage_9 RCDATA "..\\Images\\IconGreen.png"
PngImage_10 RCDATA "..\\Images\\LogoSolucaoGestao.png"
PngImage_11 RCDATA "..\\Images\\Status.png"
